
id:
<input type="text" [(ngModel)]="students.id">
<div><br></div>
name:
<input type="text" [(ngModel)]="students.name">
<div><br></div>
semester:
<input type="text" [(ngModel)]="students.semester">
<div><br></div>
english:
<input type="text" [(ngModel)]="students.english">
<div><br></div>
math:
<input type="text" [(ngModel)]="students.math">
<div><br></div>
science:
<input type="text" [(ngModel)]="students.science">
<div><br></div>
totalavg:
<input type="text" [(ngModel)]="students.totalavg">
<div><br></div>
<input type="button" value="add" (click)="insertuserss()">


